<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Question</title>

            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'main/css/question.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'main/css/login1.css' %}">
            <script type="text/javascript" src="{% static 'main/js/question.js' %}"></script>
</head>
<body>
<div class="container right-panel-active">
    <div class="slider">
      <div class="slide">
        <div class="form" >
        <h2 class="formtitle">성향 테스트</h2>
        <h3 class="formtitle">Q1. 반말과 존댓말 중 어떤 답변을 선호하시나요?</h3>
            <label class="label"><input type="radio" name="q1" value="반말">반말</label>
            <label class="label"><input type="radio" name="q1" value="존댓말">존댓말</label>

            <button class="next" onclick="plusSlides(1)">다음</button>
        </div>

      </div>
      <div class="slide">
        <div class="form" >
        <h2 class="formtitle">성향 테스트</h2>
        <h3 class="formtitle">Q2</h3>
             <p></p>
             <p></p>

        <button class="prev" onclick="plusSlides(-1)">이전</button>
        <button class="next" onclick="plusSlides(1)">다음</button>
        </div>
      </div>
        <div class="slide">
        <div class="form" >
        <h2 class="formtitle">성향 테스트</h2>
        <h3 class="formtitle">Q3</h3>
             <p></p>
             <p></p>

        <button class="prev" onclick="plusSlides(-1)">이전</button>
        <button class="next" onclick="plusSlides(1)">다음</button>
        </div>
      </div>
        <div class="slide">
        <div class="form" >
        <h2 class="formtitle">성향 테스트</h2>
        <h3 class="formtitle">Q4</h3>
             <p></p>
             <p></p>

        <button class="prev" onclick="plusSlides(-1)">이전</button>
        <button class="next" onclick="plusSlides(1)">다음</button>
        </div>
      </div>
        <div class="slide">
        <div class="form" >
        <h2 class="formtitle">성향 테스트</h2>
        <h3 class="formtitle">Q5</h3>
             <p></p>
             <p></p>

        <button class="prev" onclick="plusSlides(-1)">이전</button>
        <button class="next" onclick="plusSlides(1)">다음</button>
        </div>
      </div>
      <div class="slide">
          <div class="form" >
            <h2 class="formtitle">성향 테스트</h2>
            <h3 class="formtitle">Q6</h3>
                 <p></p>
                 <p></p>

            <button class="prev" onclick="plusSlides(-1)">이전</button>
            <a href="/result"><button class="submit">제출</button></a>
          </div>

      </div>

      <div class="slider-nav">
        <span class="slider-dot active"></span>
        <span class="slider-dot"></span>
        <span class="slider-dot"></span>
      </div>
    </div>
</div>

</body>