<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mbit 찾기!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<a href='/question' button type="button" class="btn btn-secondary btn-lg btn-block" >성향TEST</a></button>
<h3>question.html 열려라 참깨 !!!범지현은 천재!!!! </h3>
<div class="progress">
    <div class="value"></div>
</div>

<div class="question-box">
    <div class="number"></div>
    <div class="btn btn-gray choice1"></div>
    <div class="btn btn-gray choice2"></div>
</div>

</body>
</html>